#carContainer {
  /* background-color: red; */
  width: fit-content;
  height: 350px;
  display: flex;
  /* background-color:red; */
  position: absolute;
  top: +150px;
  right: +600px;
}

.carBody {
  height: 100%;
  z-index: 1;
  position: relative;
  right: -394px;
}

.flame {
  transform: rotate(180deg);

  opacity: 0;
  position: relative;
  top: 34%;
  right: 69%;
  z-index: 4;
}

.flame.active {
  animation: fireAnim 0.15s linear;
}

.smoke {
  z-index: 2;
  animation: smokeAnim 0.05s linear infinite;
  opacity: 0.8;
  right: 68.5%;
  position: sticky;
}

/* Controls */
#arrowHolder {
  /* background-color: red; */
  width: 300px;
  height: 350px;

  position: absolute;

  left: 0.5%;
  top: 520px;
  display: flex;
  /* padding: 20px; */
  /* justify-content: space-between; */
  flex-direction: column;
}

.pedal:active {
  transform: scale(0.9);
  transform: rotateX(-30deg);
}

.dirArrow:active {
  transform: scale(0.9);
  border-radius: 4%;
}

#pedalHolder {
  /* background-color: green; */
  width: 350px;
  height: 350px;

  display: flex;
  justify-content: space-between;

  position: relative;
  perspective: 1000px;

  top: 400px;
  right: -85%;
}

/* Wheels */
.wheel1 {
  z-index: 0;
  /* animation: WheelGas 100s infinite linear; */
  /* transition: 10.3s; */

  border-radius: 50%;
  height: 42%;
  left: -28.5%;
  top: 58.6%;

  position: relative;
}

.wheel2 {
  z-index: 0;
  animation: WheelGas 0.15s infinite linear;

  height: 42%;
  top: 58.6%;
  right: 3.3%;

  position: relative;
}

/* Animations */
@keyframes fireAnim {
  0% {
    /* transform: scale(1), rotate(180deg); */
    opacity: 0;
  }
  50% {
    /* transform: scale(1.3); */
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes smokeAnim {
  from {
    opacity: 0.77;
    /* background-color: gray; */
    /* position: absolute; */
    /* width: 1%; */
  }
  to {
    opacity: 1;
  }
}

@keyframes WheelGas {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
